# ======================
# Python / Django
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
venv/
db.sqlite3
staticfiles/
media/

# ======================
# Angular / Node
# ======================
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Docker
# ======================
*.log
